extends ./layout.jade

block content
  h1 Welcome to <% if (options['is-leaves']) { %>Leaves<% } else { %>Your App <% } %>!
  p You have now created a brand new <% if (options['is-leaves']) { %>Leaves <% } %>site.
    | The page you are looking at is the home page which is located at <b>views/index.jade</b>.

  h2 Documentation
  p Here are the links of the major used libraries and languages.
  ul<% if (options['is-leaves']) { %>
    li: a(href='http://leaves.claudetech.com/') Leaves<% } %>
    li: a(href='http://jade-lang.com/') Jade <% if (options.css === 'stylus') { %>
    li: a(href='http://learnboost.github.io/stylus/') Stylus
    li: a(href='http://lesscss.org/') Less   <% } %>
    li: a(href='http://coffeescript.org/') CoffeeScript

  h3 Lorem ipsum
  p
    | You can use lorem function to generate dummy text.
    | For example, this will generate 20 dummy words.
    pre
      | = lorem(20)

  h3 Script and stylesheets include globbing
  p
    | To include all files all scripts
    | or stylesheets automatically,
    | add <code>glob</code> to your script and link tags
    | and set src to files you want to glob.
    | For example, to include all js and css files.
    pre
      | script(src="js/**/*.js" glob)
      | link(rel="stylesheet" href="css/**/*.css" glob)

    | see
    a(href="https://github.com/claudetech/node-glob-html")
      |  node-glob-html
    |  documentation for more info.
