doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title <%= appname %>
    meta(name="author", content="")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    != '\n<!--[if lt IE 9]>'
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    != '\n<![endif]-->\n'
    link(rel="shortcut icon", href="./images/favicon.ico")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/app.js")
  body
    block content
