extends ./layout.jade

block content
  h1 Welcome to Leaves!
  p You've now created a brand new Leaves site. The page you're looking at is the home page which is located at <b>view/index.jade</b>.

  h2 Documentation
  ul
    li: a(href='https://github.com/claudetech/leaves') Leaves
    li: a(href='http://jade-lang.com/') jade
    li: a(href='http://learnboost.github.io/stylus/') Stylus
    li: a(href='http://roots.cx/axis/') Axis
    li: a(href='http://coffeescript.org/') CoffeeScript
  
